<!DOCTYPE html>
<html>
<head>
    <title>License Expiration Notification</title>
</head>
<body>
    <p>Hello,</p>
    <p>This is a notification regarding your license expiration.</p>
    
    <ul>
        <li>License ID: {{ license_id }}</li>
        <li>License Type: {{ license_type }}</li>
        <li>Package: {{ package }}</li>
        <li>Expiration Date: {{ expiration_date }}</li>
        <li>Client POC Name: {{ poc_name }}</li>
        <li>Client POC Email: {{ poc_email }}</li>
    </ul>

    <p>Best regards,<br>Your Company</p>
</body>
</html>
